[*]
end_of_line = lf
insert_final_newline = true
tab_width = 2

[*.html]
indent_style = space
indent_size = 2

[src/**.css]
indent_style = space
indent_size = 2

[src/app/**.js]
indent_style = space
indent_size = 2
